@inject NavigationManager Navigation
@inject SignInManager<ApplicationUser> SignInManager

<AuthorizeView>
    <Authorized>
        Hello,  @_name
        <a href="identity/account/logout" class="btn btn-danger oi oi-account-logout"></a>
    </Authorized>
    <NotAuthorized>
        <a href="identity/account/login" class="btn btn-success">Login</a>
        <a href="identity/account/register" class="btn btn-primary">Register</a>
    </NotAuthorized>
</AuthorizeView>


@code {
    [CascadingParameter]
    public Task<AuthenticationState>? authenticationStateTask { get; set; }

    private string? _name;
    
    protected override async Task OnInitializedAsync()
    {
         var authState = await authenticationStateTask;
        _name = authState?.User?.Claims?.FirstOrDefault(x => x.Type == "firstName")?.Value;
    }
}
