@page "/edittimecard/{id}"

@inject NavigationManager NavigationManager
@inject IEditTimeCardUseCase EditTimeCardUseCase
@inject IGetTimeCardById GetTimeCardById


<h3>Edit Time Card</h3>

@if (timeCard != null)
{
    <EditForm Model="timeCard" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div class="form-group">
            <label for="username">Username</label>
            <InputText id="username" @bind-Value="timeCard.UserName" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label for="project">Project</label>
            <InputText id="project" @bind-Value="timeCard.ProjectName" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label for="task">Task</label>
            <InputText id="task" @bind-Value="timeCard.TaskName" class="form-control"></InputText>
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <InputText id="notes" @bind-Value="timeCard.Notes" class="form-control"></InputText>
        </div>
        <hr/>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-light" @onclick="OnCancel">Cancel</button>
        </div>
    </EditForm>
}


@code{

    [Parameter]
    public string? Id { get; set; }

    private TimeCard? timeCard;
    private string TimeProxy { 
        get => timeCard?.TimeSpent.ToString();
        set => timeCard.TimeSpent.ToString();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        timeCard = new TimeCard();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if(int.TryParse(this.Id, out int iId)) this.timeCard = GetTimeCardById.Execute(iId);
    }

    private void OnValidSubmit()
    {
        EditTimeCardUseCase.Execute(this.timeCard);
        NavigationManager.NavigateTo("/timecards");
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/timecards");
    }

}
